doctype html
html
	head
		meta http-equiv="Content-Type" content="text/html" charset="UTF-8"
		meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'
		title Sender
		script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
		script type="text/javascript" src=rocketio_js

	body
		#message そのまましばらくお待ちください。

    #content

		javascript:
			$(function(){
			});

			var io = new RocketIO().connect();

			io.on("connect", function(session){
				console.log("connect!! " + session);
			});

			io.on("disconnect", function(session){
				console.log("disconnect!! " + session);
			});

			io.on("error", function(err){
				console.error(err);
			});

			io.on("cast", function(data){
				$('#message').hide();
				$('body').css("background-repeat", "no-repeat");
				$('body').css("background-image", "url(http://cloudninja.asia/pakue.jpg)");
			});

			io.on("*", function(event, data){
				console.log(event + " - " + JSON.stringify(data));
			});


